.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea/
src/components/MindMap/jsmind/example/
src/components/MindMap/jsmind/docs/
src/components/MindMap/jsmind/README.md
src/components/MindMap/jsmind/screenshots/
